ion-content {
    --background: var(--ion-color-grey3);
	ion-header
	{
	    position: relative;
        &:after
        {
		    display:none;
		}		
		ion-toolbar
		{
			--background: #ececec;
			padding: 15px 10px 50px;
			color: #292929;
			--min-height: 28px;
			ion-back-button
			{
				color: #292929;
				font-size:20px;
			}
			ion-title
			{
				font-size: 18px;
			}
		}
	}
	.date-cont 
	{
		position: relative;
		z-index:11;
		padding: 35px 20px 40px;
		border-radius: 25px 25px 0px 0px;
		margin-top: -30px;
		background: var(--ion-color-grey3);	
		[bal-sec]
		{
			background: #ececec;
			border-radius: 12px;
			padding: 25px;
			margin-bottom: 40px;
			width: 100%;
			ion-item 
			{ 
				background: transparent;
				--background: transparent;
				margin-bottom: 0px;
				border-radius: 0px;
				--padding-start: 0px;
				--padding-end: 0px;
				box-shadow:none;
				ion-avatar 
				{
					width: 60px;
					height: 60px;
					margin: 0px 20px 0px 0px;
					span.icon-str 
					{
						width: 60px;
						height: 60px;
						background: #313131;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 26px;
						border-radius: 5px;
						color: #fff;
					}
				}
				ion-label 
				{
					margin: 0px;
					h4 
					{
						margin: 0px;
						font-size: 20px;
						font-weight: 600;
						letter-spacing: 1px;
						color: #00853f;
					}
					p 
					{
						margin: 0px;
						font-size: 13px;
						letter-spacing: 0.5px;
						color: #000;
						font-weight:500;
					}
				}	
			}			
		
		}
        [card-field]
        {
		    ion-item
			{
				--min-height: 48px;
				border: 1px solid var(--ion-color-grey2);
				--padding-top: 0px;
				--padding-bottom: 0px;
				border-radius: 4px;
				margin-bottom: 15px;
				--background: var(--ion-color-white);
			    ion-input
				{
					font-size: 13px;
					--padding-top: 3px;
					--padding-bottom: 3px;
					color: var(--ion-color-grey1);
					--placeholder-opacity: 1;
					font-weight: 400;				
				}
			    ion-select
				{
					font-size: 13px;
					--padding-top: 3px;
					--padding-bottom: 3px;
					width:100%;
					color: var(--ion-color-grey1);
					--placeholder-opacity: 1;
					font-weight: 400;				
				}
				ion-icon 
				{
					color: #444;
					font-size: 20px;
					margin-right: 11px;
				}				
			}
			[submit-btn]
			{		
				ion-button
				{ 
					min-height: 48px;
					--box-shadow: none;
					font-weight: 400;
					font-size: 14px;
				    margin: 20px 0px;
					text-transform: capitalize;
				}			
			}			
		}		
	}	
}

