<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<ion-header>
  <ion-toolbar>
		<ion-back-button slot="start" text="" defaultHref="/tabs/setting">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-back-button>   
        <ion-title class="ion-text-center">Transaction History</ion-title>
  </ion-toolbar>
</ion-header>
	<div class="date-cont">	
		<div contact-sec>
			<ion-list class="list-ite">
				<ion-item lines="none">
						<ion-avatar><img src="assets/img/user2.jpg" class="img-d"></ion-avatar>
					<div class="img-boxtr">
						<h4 routerLink="/transaction-detail"> Charlotte Ellis </h4>
						<p> March 9, 2020 </p>
					</div>
					<span slot="end" class="tex-yy"> -400 </span>
				</ion-item>
				<ion-item lines="none">
						<ion-avatar><img src="assets/img/user3.jpg" class="img-d"></ion-avatar>
					<div class="img-boxtr">
						<h4 routerLink="/transaction-detail"> Demi Bray </h4>
						<p> March 9, 2020 </p>
					</div>
					<span slot="end" class="tex-grns"> +286 </span>
				</ion-item>
				<ion-item lines="none">
						<ion-avatar><img src="assets/img/user.jpg" class="img-d"></ion-avatar>
					<div class="img-boxtr">
						<h4 routerLink="/transaction-detail"> Charlotte Ellis </h4>
						<p> March 9, 2020 </p>
					</div>
					<span slot="end" class="tex-yy"> -400 </span>
				</ion-item>
				<ion-item lines="none">
						<ion-avatar><img src="assets/img/user2.jpg" class="img-d"></ion-avatar>
					<div class="img-boxtr">
						<h4 routerLink="/transaction-detail"> Bernita Moore </h4>
						<p> March 9, 2020 </p>
					</div>
					<span slot="end" class="tex-yy"> -350 </span>
				</ion-item>
				<ion-item lines="none">
						<ion-avatar><img src="assets/img/user3.jpg" class="img-d"></ion-avatar>
					<div class="img-boxtr">
						<h4 routerLink="/transaction-detail"> Charies Smith </h4>
						<p> March 9, 2020 </p>
					</div>
					<span slot="end" class="tex-grns"> +177 </span>
				</ion-item>
				<ion-item lines="none">
						<ion-avatar><img src="assets/img/user.jpg" class="img-d"></ion-avatar>
					<div class="img-boxtr">
						<h4 routerLink="/transaction-detail"> Ashton Stamm </h4>
						<p> March 9, 2020 </p>
					</div>
					<span slot="end" class="tex-yy"> -411 </span>
				</ion-item>
			</ion-list>	
		</div>
	</div>
    <ion-button addnew-btn>Repeat <ion-icon name="repeat-outline"></ion-icon></ion-button>
<img service-mark-icon src="assets/img/service-mark-icon.png" alt="" />	
</ion-content>
