<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<ion-header>
  <ion-toolbar>
		<!--ion-back-button slot="start" defaultHref="/otp">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-back-button-->   
        <ion-title class="ion-text-center">Confirmation</ion-title>
  </ion-toolbar>
</ion-header>
	<div class="date-cont">	
        <span checkbox-sec><ion-icon name="checkmark-outline"></ion-icon></span>
        <h3>Transfer Successful</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	
		<div submit-btn>
			<ion-button routerLink="/tabs/home" expand="full" shape="round" color="primary">Back To Home</ion-button>
		</div>			
	</div>
<img service-mark-icon src="assets/img/service-mark-icon.png" alt="" />	
</ion-content>
