<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<ion-header>
  <ion-toolbar>
		<ion-back-button slot="start" defaultHref="/tabs/home">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-back-button>   
	    <ion-title class="ion-text-center">My Cards</ion-title>
		<ion-buttons routerLink="/add-card" slot="end"><ion-icon name="add-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>
	<div class="date-cont">	
		<ion-item-sliding>
			<ion-item lines="none">
				<ion-label>
					<div class="box-crdits">
						<div class="top-cips">
							<p> Name <span> Brice Seraphin </span> </p>
							<img src="assets/img/visa1.png" class="visa-s">
						</div>
						<ion-row class="ion-align-items-center">
						<ion-col size="9" class="ion-no-padding">
							<div class="accnt-nusm"> 
								<span> **** </span>
								<span> **** </span>
								<span> **** </span>
								<span> 1234 </span>
							</div>						
						</ion-col>
						<ion-col size="3" class="ion-no-padding">
						<div class="tst-lta ion-text-right">
							<p> Exp Date <span> 14/20 </span> </p>
						</div>						
						</ion-col>
						</ion-row>

					</div>
				</ion-label>
			</ion-item>
			<ion-item-options>
				<ion-item-option color="danger">
					<ion-icon slot="bottom" name="trash"></ion-icon>
				</ion-item-option>
				<ion-item-option routerLink="/edit-card" color="secondary">
					<ion-icon slot="bottom" name="create-outline"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
		<ion-item-sliding>
			<ion-item lines="none">
				<ion-label>
					<div class="box-crdits">
						<div class="top-cips">
							<p> Name <span> Brice Seraphin </span> </p>
							<img src="assets/img/mastercard.png" class="visa-s">
						</div>
						<ion-row class="ion-align-items-center">
						<ion-col size="9" class="ion-no-padding">
							<div class="accnt-nusm"> 
								<span> **** </span>
								<span> **** </span>
								<span> **** </span>
								<span> 1234 </span>
							</div>						
						</ion-col>
						<ion-col size="3" class="ion-no-padding">
						<div class="tst-lta ion-text-right">
							<p> Exp Date <span> 14/20 </span> </p>
						</div>						
						</ion-col>
						</ion-row>

					</div>
				</ion-label>
			</ion-item>
			<ion-item-options>
				<ion-item-option color="danger">
					<ion-icon slot="bottom" name="trash"></ion-icon>
				</ion-item-option>
				<ion-item-option routerLink="/edit-card" color="secondary">
					<ion-icon slot="bottom" name="create-outline"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
		<ion-item-sliding>
			<ion-item lines="none">
				<ion-label>
					<div class="box-crdits">
						<div class="top-cips">
							<p> Name <span> Brice Seraphin </span> </p>
							<img src="assets/img/Discover.png" class="visa-s">
						</div>
						<ion-row class="ion-align-items-center">
						<ion-col size="9" class="ion-no-padding">
							<div class="accnt-nusm"> 
								<span> **** </span>
								<span> **** </span>
								<span> **** </span>
								<span> 1234 </span>
							</div>						
						</ion-col>
						<ion-col size="3" class="ion-no-padding">
						<div class="tst-lta ion-text-right">
							<p> Exp Date <span> 14/20 </span> </p>
						</div>						
						</ion-col>
						</ion-row>

					</div>
				</ion-label>
			</ion-item>
			<ion-item-options>
				<ion-item-option color="danger">
					<ion-icon slot="bottom" name="trash"></ion-icon>
				</ion-item-option>
				<ion-item-option routerLink="/edit-card" color="secondary">
					<ion-icon slot="bottom" name="create-outline"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</div>
<img service-mark-icon src="assets/img/service-mark-icon.png" alt="" />	
</ion-content>
