<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<ion-header>
  <ion-toolbar>
		<ion-back-button slot="start" text="" defaultHref="/transaction-history">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-back-button>   
        <!--ion-title class="ion-text-center"></ion-title-->
  </ion-toolbar>
</ion-header>
	<div class="date-cont">
		<div userimg>
			<span img-sec><img src="assets/img/user.jpg"></span>
			<h2>Charlotte Ellis</h2>
		</div>
		<div fundsource>
			<ion-row mb-10>
				<ion-col size="12">
					<div fundsource-sec>
					    <h3>Fund Source</h3>
						<p>American Express</p>
					</div>
				</ion-col>
				<ion-col size="12">
					<div fundsource-sec>
					    <h3>Notes</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
					</div>
				</ion-col>
			</ion-row> 		
	    </div>
		<div trans-detail>
		    <h2 ttl-hi>Transfer Details</h2>
			<ion-row mb-10>
				<ion-col size="7">
					<div profile-head><h3>Transfer Amount</h3></div>
				</ion-col>
				<ion-col size="5">
					<div profile-detail><h3>$360.00</h3></div>
				</ion-col>
			</ion-row> 	
			<ion-row mb-10>
				<ion-col size="7">
					<div profile-head><h3>Date</h3></div>
				</ion-col>
				<ion-col size="5">
					<div profile-detail><h3>04 March 2020</h3></div>
				</ion-col>
			</ion-row> 
			<ion-row mb-10>
				<ion-col size="7">
					<div profile-head><h3>Status</h3></div>
				</ion-col>
				<ion-col size="5">
					<div profile-detail><h3 complete>Complete</h3></div>
				</ion-col>
			</ion-row>
			<ion-row>
            	<ion-col size="12">
					<div submit-btn>
						<ion-button expand="full" shape="round" color="primary">Repeat <ion-icon name="repeat-outline"></ion-icon></ion-button>
					</div>
				</ion-col>			
			</ion-row>
	    </div>		
	</div>
<img service-mark-icon src="assets/img/service-mark-icon.png" alt="" />	
</ion-content>
