<!--ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<div class="bg-str-all">
	<div loginform>
		<div form-bg>
			<div logo  class="ion-text-center">
				<span logo-sec><img src="assets/img/logo.png"/></span>
			</div>
			<h3 class="rt-str"> Forgot Password </h3>
			<p class="dnnt"> Enter your Email address to reset your password. </p>
		</div>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
		<div logininput>
			<div form-group>
			    <ion-label>Email Address</ion-label>
				<ion-item lines="none">
					<ion-input type="text"  placeholder="Enter Email" name="email" formControlName="email"></ion-input>
					<ion-label label-flex>
						<ion-icon name="checkmark-outline" [color]="form.email.errors ? 'grey':'success'"></ion-icon>
					</ion-label>
				</ion-item>
        <div *ngIf="isSubmit && form.email.errors" class="invalid-feedback">
          <ion-text validationText *ngIf="form.email.errors.required">
            <p>*Email is required!</p>
          </ion-text>
          <ion-text validationText *ngIf="form.email.errors.email">
            <p>*Email must be a valid email address!</p>
          </ion-text>
      </div>
			</div>
		</div>
		<div login-btn>
			<ion-button type="submit" expand="full" shape="round" color="primary">
			Reset Password
			</ion-button>
		</div>
  </form>
		<div btn-signup>
			<p>Wants to go back to <a routerLink="/" href="javascript:void(0)">Login</a></p>
		</div>
	</div>
</div>
</ion-content>
