<!--ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<ion-header>
  <ion-toolbar>
	    <ion-title class="ion-text-center">Notifications</ion-title>
		<ion-buttons slot="end"><ion-icon name="search-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>
	<div class="date-cont">
		<div notifications>
		    <ion-item lines="none">
				<ion-avatar>
					<img src="assets/img/user.jpg"/>
				</ion-avatar>
				<ion-label>
					<div date-sec>
						<h3>Payment Transferred</h3>
						<ion-note><ion-icon name="time-outline"></ion-icon> 2 hrs ago</ion-note>
					</div>
					<p>You send payment <span class="sdnf-a"> - $300</span> successfully </p>
				</ion-label>
			</ion-item>
		    <ion-item lines="none">
				<ion-avatar>
					<img src="assets/img/user2.jpg"/>
				</ion-avatar>
				<ion-label>
					<div date-sec>
						<h3>Payment Transferred</h3>
						<ion-note><ion-icon name="time-outline"></ion-icon> 2 hrs ago</ion-note>
					</div>
					<p>Recieved payment <span class="recv-a"> + $200</span>  successfully </p>
				</ion-label>
			</ion-item>
		    <ion-item lines="none">
				<ion-avatar>
					<img src="assets/img/user3.jpg"/>
				</ion-avatar>
				<ion-label>
					<div date-sec>
						<h3>Payment Transferred</h3>
						<ion-note><ion-icon name="time-outline"></ion-icon> 2 hrs ago</ion-note>
					</div>
					<p>You send payment <span class="sdnf-a"> - $150</span> successfully </p>
				</ion-label>
			</ion-item>
		    <ion-item lines="none">
				<ion-avatar>
					<img src="assets/img/user.jpg"/>
				</ion-avatar>
				<ion-label>
					<div date-sec>
						<h3>Payment Transferred</h3>
						<ion-note><ion-icon name="time-outline"></ion-icon> 2 hrs ago</ion-note>
					</div>
					<p>Recieved payment <span class="recv-a"> + $430</span>  successfully </p>
				</ion-label>
			</ion-item>
		    <ion-item lines="none">
				<ion-avatar>
					<img src="assets/img/user2.jpg"/>
				</ion-avatar>
				<ion-label>
					<div date-sec>
						<h3>Payment Transferred</h3>
						<ion-note><ion-icon name="time-outline"></ion-icon> 2 hrs ago</ion-note>
					</div>
					<p>You send payment <span class="sdnf-a"> - $290</span> successfully </p>
				</ion-label>
			</ion-item>
		</div>	
	</div>
<img service-mark-icon src="assets/img/service-mark-icon.png" alt="" />		
</ion-content>
