<!--ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
	<!--div class="top-headr">
	</div-->
	<div class="date-cont">	
		<div userimg>
			<span img-sec><img src="assets/img/user.jpg" alt=""></span>
			<h2>Citlalli Reichel</h2>
			<p>@citlallireichel</p>
		</div>	
		<div qrcode-sec>
			<img src="assets/img/qr-code.png" alt="">
		</div>		
		<div qrcode-btn>
			<ion-button color="primary"><ion-icon name="share-social-outline"></ion-icon> Share</ion-button>
		</div>	
	</div>
<img service-mark-icon src="assets/img/service-mark-icon.png" alt="" />		
</ion-content>
